## 1. Import Dependencies

In [4]:
import pandas as pd
import zipfile
import kaggle

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/adparekh/.kaggle/kaggle.json'

## 2. Import Dataset

In [6]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/adparekh/.kaggle/kaggle.json'
Downloading london-bike-sharing-dataset.zip to /Users/adparekh/Data/Programming/DS:ML/data-visualization
100%|█████████████████████████████████████████| 165k/165k [00:00<00:00, 236kB/s]
100%|█████████████████████████████████████████| 165k/165k [00:00<00:00, 236kB/s]

In [41]:
# Extract the compressed dataset
zipfile_name = "london-bike-sharing-dataset.zip"
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [53]:
# Read in the dataset into a pandas dataframe
data = pd.read_csv('london_merged.csv')

In [54]:
# Print the data information
print("Dataset Information:\n", data.info(), "\n")
# Check for any NA values
print("Null values:\n", data.isna().sum(), "\n")
# Print the shape of the dataset
print("Shape:\n",data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB
Dataset Information:
 None

Null values:
 timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

Shape:
 (17414, 10)

In [55]:
# Counting the unique values in column 'weather_code'
data['weather_code'].value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [56]:
# ounting the unique values in column 'season'
data['season'].value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [57]:
# Specifying the new column names that I want to use
new_cols = {
    'timestamp':'time',
    'cnt':'bike_count',
    't1':'temp_C',
    't2':'feels_like_temp_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather_type',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# Renaming the columns to the new column names
data.rename(new_cols, axis=1, inplace=True)

In [58]:
# Changing humidity values to percentage (between 0 and 1)
data.humidity_percent = data.humidity_percent / 100

In [59]:
# Creating a season dictionary to change numerical descriptions to season names
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Fall',
    '3.0':'Winter'
}

# Creating a weather code dictionary to change numerical descriptions to word descriptions
weather_code_dict = {
    '1.0':'Clear',
    '2.0':'Scattered Clouds',
    '3.0':'Broken Clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall',
    '94.0':'Freezing Fog'
}

# Changing the seasons column data type to string
data.season = data.season.astype('str')
# Replacing the numerical season values with seasons
data.season = data.season.map(season_dict)

# Changing the weather_type column data type to string
data.weather_type = data.weather_type.astype('str')
# Replacing the numerical weather_type values with decriptions
data.weather_type = data.weather_type.map(weather_code_dict)

In [60]:
# Check if the changes have been applied successfully
data.head()

,time,bike_count,temp_C,feels_like_temp_C,humidity_percent,wind_speed_kph,weather_type,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [61]:
# Writing the files to an excel file to be used in Tableau
data.to_excel('london_bikes_final.xlsx', sheet_name='Data')